node_modules/
.next/
target/
build/
dist/
out/
.gradle/
.m2/
__pycache__/
.venv/
venv/
bin/
.settings/
.metadata/
.idea/
Servers/
DISK1/
*.jar
*.war
*.class
*.exe
*.zip
*.msi
*.log
*.pack
*.idx
.env
.env.local
.env.production
