@charset "utf-8";
/* 1. 스와이퍼 페이지 영역 */
#portfolio {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#000,#202020,#c1c1c1);
    font-family: 'Noto Sans KR', sans-serif;
}
/* A. 스와이퍼 최상위 구조 클래스 */
.swiper-container {
    padding-top: 100px;
    padding-bottom: 84px;
}
/* C. 스와이퍼 될 각각 내용들 */
.swiper-slide {
    width: 1100px;
    height: 614px;
    background-color: #959595;
}
.swiper-slide {
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.swiper-slide h3 {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: #fff;
    position: absolute;
    left: 20px;
    top: -32px;
    z-index: 1;
}

