@charset "utf-8";
/* 공통 CSS = 모바일 퍼스트 = 모바일 영역 */
#wrap {
    /* (960) */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #000;
}
#wrap h1 {
    color: blue;
    padding: 24px 0;
}
#wrap ul li {
    width: 100%;
}
#wrap ul li img {
    width: 90%;
}
#wrap p {
    font-size: 0.75rem;
    padding: 12px 0;
    line-height: 1.6;
}

/* 768px 이상 959px 이하 */
@media screen and (min-width:768px) and (max-width:959px){
    /* 추가 */
    body {
        background-color: darkslategray;
    }
    #wrap {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        color: #000;
    }
    #wrap h1 {
        /* 값수정 */
        color: #fff;
        padding: 24px 0;
        /* 추가 */
        font-size: 2rem;
    }
    /* 추가 */
    #wrap ul {
        display: flex;
    }
    #wrap ul li {
        /* 값수정 */
        width: 50%;
    }
    #wrap ul li img {
        width: 90%;
    }
    #wrap p {
        /* 값수정 */
        font-size: 1rem;
        padding: 12px 0;
        line-height: 1.6;
        /* 추가 */
        color: #111;
    } 
}



/* 1024px 이상 */
@media screen and (min-width:1024px){
    body {
        background-color: darkslategray;
    }
    #wrap {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        color: #000;
    }
    #wrap h1 {
        /* 값수정 */
        color: silver;
        padding: 24px 0;
        font-size: 2rem;
    }
    #wrap ul {
        display: flex;
    }
    #wrap ul li {
        width: 50%;
    }
    #wrap ul li img {
        width: 90%;
    }
    #wrap p {
        font-size: 1rem;
        /* 값수정 */
        padding: 24px 0;
        line-height: 1.6;
        color: #111;
    } 
}


