@charset "utf-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap {
    width: 960px;
    margin: 0 auto;
}
/* Header */
header {
    width: 100%;
    background-color: #bf545d;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.logo {
    width: 96px;
}
header ul {
    display: flex;
    flex-flow: row wrap;
}
header ul li {
    width: 40px;
    margin-top: 40px;
}

/* Article */
article {
    background-color: #03588c;
    text-align: center;
    padding: 16px 0;
    color: #fff;
}
article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
article p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 21px;
    line-height: 48px;
}
/* Contents */
#gallery {
    padding: 10px 0;
}
#gallery ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#gallery ul li {
    width: 220px;
    margin: 10px;
}
#gallery ul li img {
    width: 100%;
    border-radius: 5px;
}
/* Footer */
footer {
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 13px;
}
